@media all and (orientation: portrait) {
  .direction-pad {
    width: 100%;
    margin-bottom: 100px;
  }
  .button-pad {
    width: 100%;
  }
}

@media all and (orientation: landscape) {
  .direction-pad {
    width: 50%;
  }
  .button-pad {
    width: 37.5%;
    margin-left: 5%;
  }
}

main {
  width: 100%;
  min-height: 350px;
  display: block;
}

.direction-pad, .letter-button {
  border: 2px solid black;
}

.direction-pad {
  float: left;
  min-height: 250px;
  max-height: 500px;
  background-color: grey;

    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}

.button-pad{
  float: left;
}

.direction-pad button {
  z-index: 1;
  background-color: yellow;
  font-size: 32px;
}

.direction-pad > * {
  min-height:50px;
  width: 33%;
}

.letter-button {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 50%;
  float: right;
  font-size: 36px;
}

.a-button {
  background-color: green;
}

.b-button {
  background-color: red;
}
